@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {} 

body {
    font-family: "Roboto Condensed", sans-serif;      
    display: flex;
    justify-content: center;
    background:;
    padding: 8%;
}

h1{
    text-align: center;
}


.elementos-em-linha{ 
    display: flex;
    justify-content: center;
   
   
}

#btVerificação{
    margin-right: 10px;
    padding-inline: 4% 4%;
    background-color:#5af05a;
    border-color: #76f8cd;
    border-radius: 5px;   
}

#Limpar {
   padding-inline: 4% 4%;
    background-color: #ed3939;
    border-color: #fe6a6a;
    border-radius: 5px;
}

div{
    display: flex;
    justify-content: center; 
}

section{
    width: 350px;
    background-color:;
    padding: 8%;
    border-radius: 6px;
}

input{
    width: 100px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none
}

#botoes{
    display: flex;
    justify-content: center;
}




